.page
{
  height: calc(100vh - 50px);
  width: 100%;
  display: flex
}

.sidebar
{
  background-color: var(--bg-dark);
  border:1px solid black;
  width: 300px;
  height: calc(100vh - 50px);
  display: flex;

}
.sidebar ul
{
  padding: 0px;
  margin:0px;
}
.sidebar ul li 
{
    list-style: none;
}
.sidebar ul li a 
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65px;
  width: 65px;
  color: white;
  font-size: 22px;
}
.sidebar ul li a.active 
{
  background-color: #111111;
}
.sidebar .tab-content
{
  width: 235px;
  background-color: #111111;
}

.content
{
  /* border:1px solid white; */
  padding: 50px;
  width: calc(100% - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content canvas
{
 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.btn-load-template
{
  cursor: pointer;
}


#layer-list .layer-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
#layer-list .selected-layer {
  background-color: #ddd !important;
  color: #111111 !important;
}
.drag-over {
 opacity: 0.8;
}

/* edit pabel  */
.tab-pane 
{
   height: 100vh;
   overflow-y: scroll;
}